.table_filha_cabecalho {
    font-size: 12px !important;
}

.table_filha_item {
    font-size: 11px !important;
}

.text-right {
    text-align: right !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loading {
    font-family: Arial;
    font-size: 10pt;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 999;
    padding: 5px 5px;
}

.divCenter {
    width: 500px; /* Tamanho da Largura da Div */
    height: 200px; /* Tamanho da Altura da Div */
    position: absolute;
    top: 50%;
    margin-top: -280px; /* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
    left: 50%;
    margin-left: -280px; /* ou seja ele pega 50% da largura tela e diminui  metade do valor da largura no caso 280 */
}

.alert {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.panel-default {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.panel-body {
    text-align: left !important;
    padding-left: 0 !important;
}

.required > .control-label:after {
    content: "*" !important;
}

.titulo-painel {
    float: left !important;
    padding-top: 2px !important;
}

.link-painel {
    float: right !important;
    padding: 0 !important;
}

.navbar-brand {
    padding-top: 12px !important;
}

.intervalo-valores {
    margin: 0 15px !important;
}

.descricao {
    white-space: pre !important;
}

.control-label-meio {
    margin: 5px !important;
}

.tabela-resultado {
    margin: 15px !important;
}
