<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Legenda</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/config.page.css" rel="stylesheet" />
</head>
<body>

    <section class="container-fluid">
        <div class="page-header">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="clearfix">
                        <h5>Legenda</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Pontos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Advert&ecirc;ncia
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade * 5 pontos
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Suspens&atilde;o
                                            </div>
                                            <hr style="margin: 8px 0;"/>
                                            <div class="col-md-12 txt-size-titulo">
                                                Observa&ccedil;&atilde;o
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade  * 10 pontos
                                            </div>
                                            <hr style="margin: 8px 0;" />
                                            <div class="col-md-10 txt-size-conteudo">
                                                N&uacute;mero por suspens&atilde;o independente da quantidade de dias de suspens&atilde;o
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Atestado
                                            </div>
                                            <hr style="margin: 8px 0;" />
                                            <div class="col-md-12 txt-size-titulo">
                                                Observa&ccedil;&atilde;o
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade
                                            </div>
                                            <hr style="margin: 8px 0;" />
                                            <div class="col-md-10 txt-size-conteudo">
                                                N&uacute;mero por atestado independente da quantidadede dias do atestado
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Falta
                                            </div>
                                            <hr style="margin: 8px 0;" />
                                            <div class="col-md-12 txt-size-titulo">
                                                Observa&ccedil;&atilde;o
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade
                                            </div>
                                            <hr style="margin: 8px 0;" />
                                            <div class="col-md-10 txt-size-conteudo">
                                                Apenas falatas n&atilde;o justificadas.
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Reembolso
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade dividida por 7.3 (carga hora trabalhada dia em decimal)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Multas
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Quantidade
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="col-md-12 txt-size-titulo">
                                                Acidente
                                            </div>
                                        </th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Culpado Ecourbis: Quantidade * 5 pontos
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <div class="col-md-2 txt-size-conteudo">
                                                Culpado Terceiro: Quantidade
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</body>
</html>